$background : #2B65EC;
$oceanBlue : #5BC0F8;
$fontColor : aliceblue;
$pointer-z:-1;
$button-z:3;
$bubble-z:4;
$header-z:4;


.lightShadow{
     box-shadow:-16px 16px 32px rgba($color: #000000, $alpha: 0.5), -16px 16px 32px rgba($color: #ffff, $alpha: 0.5) inset;
}



.glass{
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container{
  width: 80%;
  margin: auto;
  height: 100%;
}

.sliding-underline{
      position: relative;;

      &::after{
         content: "";
         position: absolute;
         bottom: -8px;
         left: 0;
         height: 4px;
         width: 0px;
         background-color: $fontColor;
         z-index: 10;
         transition: all 500ms ease;
      }

      &:hover::after{
        width: 100%;
      }
}

.bubbles{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}


.animated-curve-border{
    border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    animation: profile-animation 10s linear infinite;
}
@keyframes curve-border-animation {
    0% {
      border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    }
    25% {
      border-radius: 30% 70% 47% 53% / 30% 62% 38% 70%;
    }
    50% {
      border-radius: 67% 33% 47% 53% / 59% 33% 67% 41%;
    }
    75% {
      border-radius: 73% 27% 68% 32% / 59% 63% 37% 41%;
    }
    100% {
      border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    }
}

.slide-in{

}



@keyframes slide-in-animation{
     
}


.card-3d{
  height: 200px; 
  width: 300px;
  background-color: blue;
  border-radius: 20px;
  transform: perspective(5000px) rotateX(20deg) rotateY(20deg);
  position: relative;
  transform-style: preserve-3d;

  img{
    height: 50%;
  }

  &::after{
    content: "";
   position: absolute;
   height: 100%;
   width: 100%;
   top: 20px;
   left: 20px;
   border-radius: 20px;
   background-color: pink;
   transform: translateZ(-30px);
   
  }




}
