@import "./utility";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap");

*{
    margin: 0;
    padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Orbitron;
  overflow: hidden;
  color: $fontColor;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
}


@import "./header";
@import "./main";
@import "./footer";
@import "./home";
@import "./scrollbar";
@import "./bubble";
@import "./pointer";
