#home {
  // background-color:$oceanBlue;
  background-size: cover;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right, black, black, transparent), linear-gradient(to bottom, black , white);

  .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  }

  h1{
    font-size: 4.1rem;
    span{
    }
  }

  h3{
    font-size: 1.6rem;
  }

  i{
    margin: 0.5rem;
    cursor: pointer;
    z-index: $button-z;
    position: relative;

    &:nth-child(1){
      margin-left: 0px;
    }
  }




  a{
    position: absolute;
    text-decoration:  none;
    z-index: $button-z;
    padding: 0.5rem 0;
    cursor: pointer;
    color: $fontColor;
    font-size: 1.2rem;
    bottom: 2rem;
    transition: all 0.5s ease-in-out;
    margin-left: 3rem;

    &::after{
      position: absolute;
      right: -3.5rem;
      top: 50%;
      content: "";
      width: 0rem;
      height: 4px;
      background-color: $fontColor;
      transition: all 0.5s ease-in-out;
    }
    &::before{
      position: absolute;
      left: -3.5rem;
      top: 50%;
      content: "";
      width: 3rem;
      height: 4px;
      background-color: $fontColor;
      transition: all 0.5s ease-in-out;
    }

    &:hover::after{
      width: 3rem;
    }
    &:hover::before{
      width: 0rem;
    }
    &:hover{
      margin-left: 0rem;
    }
  }


  #profile {
    height: 400px;
    width: 400px;
    background-size: contain;
    border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    border: 2px solid rgba($color: #000000, $alpha: 0.4);
    animation: profile-animation 10s linear infinite;
    box-shadow: 50px 50px 48px rgba($color: #000000, $alpha: 0.4) inset,-50px -50px 48px rgba($color: #000000, $alpha: 0.4) inset;
  }

  @keyframes profile-animation {
    0% {
      border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    }
    25% {
      border-radius: 30% 70% 47% 53% / 30% 62% 38% 70%;
    }
    50% {
      border-radius: 67% 33% 47% 53% / 59% 33% 67% 41%;
    }
    75% {
      border-radius: 73% 27% 68% 32% / 59% 63% 37% 41%;
    }
    100% {
      border-radius: 39% 61% 26% 74% / 56% 65% 35% 44%;
    }
  }

  @keyframes drop-down {
    0% {
      margin-top: -100%;
    }
    70%{
      margin-top: 0%;
    }
    75% {
      margin-top: -15%;
    }
    80%{
      margin-top: 0%;
    }
    85%{
      margin-top: -10%;
    }
    90%{
     margin-top: -5%;
    }
    95%{
      margin-top: 0%; 
    }
    97%{
      margin-top: -3%; 
    }
    100% {
      margin-top: 0%;
    }
  }

}
