#pointer{
  position: fixed;
  top: -1000;
  height: 400px;
  width: 400px;
  background-color: rgba($color: white, $alpha: 0.5);
  z-index: $pointer-z;
  border-radius: 100%;
  filter:blur(100px);
}
